ALTER TABLE exercises ADD CONSTRAINT exercises_user_id_exercise_unique UNIQUE (user_id, exercise);\nALTER TABLE phisique ADD CONSTRAINT phisique_user_id_muscle_group_unique UNIQUE (user_id, muscle_group);\nALTER TABLE score ADD CONSTRAINT score_user_id_unique UNIQUE (user_id);\nALTER TABLE frequency ADD CONSTRAINT frequency_user_id_unique UNIQUE (user_id);
